
<mat-card  class="new-cluster-msg-panel" *ngIf="isNewCluster">
  <mat-card-header>SUCCESS!</mat-card-header>
  <mat-card-content>
    <br/>
    <p>The Servless master of cluster {{ cluster.clustername }} has been successfully build!</p>
    <p>Now you can simply run <a [href]="s3Service.getConsoleUrl(cluster.S3_node_init_script, true)" target="_blank">{{ cluster.S3_node_init_script }}</a> on any Linux machine having AWS CLI configured to start processing on your cluster</p>
    <p><a [href]="s3Service.getConsoleUrl(cluster.S3_node_init_script, true)" target="_blank">{{ cluster.S3_node_init_script }}</a> can also be used as a cloud-init configuration for AWS EC2 instances.</p>
  </mat-card-content>
</mat-card>


<mat-card class="cluster-details-card">
  <mat-card-header>
    <mat-card-title><h1><span *ngIf="mode=='create'">New</span> Cluster: <span  *ngIf="cluster">{{ cluster.clustername }}</span>   </h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="spinner-container">
      <mat-spinner *ngIf="!cluster || workInProgress"></mat-spinner>
    </div>

    <div class="operation-log-panel" [hidden]="!operationLog">
      {{ operationLog }}
    </div>

    <div [hidden]="!cluster || workInProgress">
      <div>

        <form class="cluster-details-form" #clusterForm="ngForm">

          <div>
            <mat-form-field>
              <input matInput name="clustername" placeholder="Name" [(ngModel)]="cluster.clustername" [readonly]="mode=='view'" required>
            </mat-form-field>
          </div>



          <div>
            <mat-form-field>
              <input matInput name="username" placeholder="Username" [(ngModel)]="cluster.username" [readonly]="mode=='view'" required>
            </mat-form-field>
          </div>
          <div *ngIf="mode=='create'">
            <div>
              <mat-form-field>
                <input matInput name="s3_bucket" placeholder="s3_bucket" [(ngModel)]="cluster.s3_bucket" required>
                <span matPrefix>s3:// </span>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <input matInput name="spot_fleet_arn_instance_profile" placeholder="Spot Fleet instance profile arn" [(ngModel)]="cluster.spot_fleet_arn_instance_profile" size="100">
              </mat-form-field>
            </div>
          </div>

        </form>

        <mat-expansion-panel *ngIf="mode=='view'">
          <mat-expansion-panel-header>
            Details
          </mat-expansion-panel-header>

          <div class="extended-info">
            <mat-form-field>
              <input matInput placeholder="creator" [(ngModel)]="cluster.creator" [readonly]="true">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="nodeid" [(ngModel)]="cluster.nodeid" [readonly]="true">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="queueid" [(ngModel)]="cluster.queueid" [readonly]="true">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="S3_location" [(ngModel)]="cluster.S3_location" [readonly]="true" (click)="openS3(cluster.S3_location)" class="clickable">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="S3_node_init_script" [(ngModel)]="cluster.S3_node_init_script" [readonly]="true" (click)="openS3(cluster.S3_node_init_script, true)" class="clickable">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="S3_queue_update_script" [(ngModel)]="cluster.S3_queue_update_script" [readonly]="true" (click)="openS3(cluster.S3_queue_update_script, true)" class="clickable">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="S3_job_envelope_script" [(ngModel)]="cluster.S3_job_envelope_script" [readonly]="true" (click)="openS3(cluster.S3_job_envelope_script, true)" class="clickable">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="S3_run_node_script" [(ngModel)]="cluster.S3_run_node_script" [readonly]="true" (click)="openS3(cluster.S3_run_node_script, true)" class="clickable">
            </mat-form-field>
          </div>

        </mat-expansion-panel>


        <app-queue-list *ngIf="mode==='view'" [cluster]="cluster" [queues]="queues" ></app-queue-list>

        <app-node-list *ngIf="mode==='view'" [cluster]="cluster" [nodes]="nodes"></app-node-list>

        <app-spot-fleet-list *ngIf="mode==='view'" [cluster]="cluster"></app-spot-fleet-list>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions *ngIf="cluster && !workInProgress">

    <button mat-button (click)="goBack()">GO BACK</button>
    <button mat-button (click)="onSubmit()" tabindex="-1" color="primary" [disabled]="!clusterForm.form.valid" *ngIf="mode!=='view'">SUBMIT</button>
    <button mat-button (click)="onSaveJson()" tabindex="-1"  *ngIf="mode==='view'">SAVE</button>
    <button mat-button (click)="onDelete()" tabindex="-1" color="warn" *ngIf="mode==='view'">DELETE</button>
    <!--<button mat-button *ngIf="mode=='view'" (click)="edit()">EDIT</button>-->
  </mat-card-actions>
</mat-card>
