.mat-spinner{
  margin-bottom: 25px;
}
.main-content{
  margin-bottom: 15px;
}

.advanced-info-expansion-panel{
  margin: 25px 0;
}

.close-button{
  float: right;
}

.event-log{
  font-size: 0.7em;
}
.error-container{
  color: #b6001a;
}
