<div class="login-page">

  <mat-card class="login-card">
    <mat-card-title>KissCluster</mat-card-title>
    <mat-card-subtitle> {{ message }}</mat-card-subtitle>
    <mat-card-content >

      <div class="spinner-container" *ngIf="inProgress>0">
        <mat-spinner *ngIf="!queues"></mat-spinner>
      </div>
      <div *ngIf="!authService.isLoggedIn && !inProgress">
        <input type="file" (change)="fileSelected($event.target.files[0])">
        <div class="region-select">
          <mat-form-field class="region-form-field">
            <mat-select placeholder="Region"  [(value)]="regionService.region">
              <mat-option *ngFor="let r of availableRegions" [value]="r">{{ r }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions *ngIf="!inProgress">
      <button mat-button (click)="login()"  *ngIf="!authService.isLoggedIn" [disabled]="!credentials">Login</button>
      <button mat-button (click)="initCloud()"  *ngIf="!authService.isLoggedIn" [disabled]="!credentials">Run cloud formation</button>
      <button mat-button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
    </mat-card-actions>
  </mat-card>

</div>
