<h1 mat-dialog-title><span *ngIf="mode=='create'">New</span> Spot Fleet</h1>
<div mat-dialog-content>
  <div class="spinner-container">
    <mat-spinner *ngIf="workInProgress"></mat-spinner>
  </div>

  <form #spotFleetForm="ngForm" [hidden]="workInProgress">

    <div *ngIf="!cluster && mode==='create'">
      <mat-form-field>
        <mat-select placeholder="Select cluster" [(ngModel)]="cluster" name="cluster" (selectionChange)="setCluster(cluster)">
          <mat-option *ngFor="let c of clusters" [value]="c">
            {{ c.clustername }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div *ngIf="cluster || mode!=='create'">

      <div class="cluster-info" *ngIf="cluster">
        Cluster: {{ cluster.clustername }}
      </div>

      <div *ngIf="spotFleet" class="spot-fleet-config">

        <div class="advanced-users-info">
          <a [href]="getSpotRequestConsoleUrl()" target="_blank" *ngIf="mode!=='view'">For advances users only - you can use AWS Spot Fleet GUI instead of KissCluster GUI</a>
          <a [href]="getSpotRequestConsoleUrl()" target="_blank" *ngIf="mode==='view'">Open in AWS Console</a>
        </div>
        <div class="read-only-info-panel" *ngIf="mode!=='edit'">


          <div class="read-only-item">
            <div class="item-name">Spot Fleet Request Type</div>
            <div class="item-value">{{ spotFleet.data.SpotFleetRequestConfig.Type }}</div>
          </div>
          <div class="read-only-item">
            <div class="item-name">Interruption behavior</div>
            <div class="item-value">Terminate</div>
          </div>
          <div class="read-only-item">
            <div class="item-name">Allocation strategy</div>
            <div class="item-value">Lowest price</div>
          </div>
          <div class="read-only-item">
            <div class="item-name">Maximum price</div>
            <div class="item-value">The on demand priced will be used</div>
          </div>


        </div>
        <!--<mat-form-field>
          <input name="IAM id" matInput placeholder="IAM id" [(ngModel)]="iamId" [readonly]="mode==='view'" required>
        </mat-form-field>-->

        <mat-form-field>
          <input type="number" min="0" step="1" name="TargetCapacity" matInput placeholder="Target Capacity (vCPUs)" [(ngModel)]="spotFleet.data.SpotFleetRequestConfig.TargetCapacity" [readonly]="mode==='view'" required>
        </mat-form-field>

        <div class="spot-fleet-config create-info" *ngIf="mode!=='edit'">
        <mat-form-field>
          <mat-select placeholder="Instance types" [(ngModel)]="instanceTypes" name="instance_types" multiple required [disabled]="mode==='view'">
            <mat-option *ngFor="let i of availableInstanceTypes" [value]="i">
              {{ i.InstanceType }} ({{ i.WeightedCapacity ? i.WeightedCapacity : 1 }} vCPU)
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br/>
        <!--<mat-form-field>
          <mat-select placeholder="AMI " [(ngModel)]="amiId" name="ami_ids" required [disabled]="mode==='view'">
            <mat-option *ngFor="let ami of availableAMIs" [value]="ami.ImageId">
              {{ ami.ImageId}}  ({{ ami.Description }})
            </mat-option>
          </mat-select>
        </mat-form-field>-->

        <mat-form-field>
          <input matInput placeholder="AMI" aria-label="AMI" [matAutocomplete]="autoAMI" [(ngModel)]="amiId" name="ami_ids" required [readonly]="mode==='view'">
          <mat-autocomplete #autoAMI="matAutocomplete">
            <mat-option *ngFor="let ami of availableAMIs" [value]="ami.ImageId">
              {{ ami.ImageId }}  ({{ ami.Description }})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <br/>



        <br/>
        <mat-form-field>
          <mat-select placeholder="Security group" [(ngModel)]="securityGroup" name="security_group" required [disabled]="mode==='view'">
            <mat-option *ngFor="let s of availableSecurityGroups" [value]="s">
              {{ s.GroupName }}  ({{ s.Description }})
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Key pair name" [(ngModel)]="keyPairName" name="keyPairName" required [disabled]="mode==='view'">
            <mat-option *ngFor="let s of availableKeyPairs" [value]="s.KeyName">
              {{ s.KeyName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br/>

        <mat-form-field>
          <input  matInput placeholder="IAM instance profile arn" aria-label="IAM instance profile" [matAutocomplete]="autoIamProfile" [(ngModel)]="iamInstanceProfileArn" name="iamInstanceProfile"
                 [readonly]="mode==='view'" pattern="{{arnPattern}}" required>
          <mat-autocomplete #autoIamProfile="matAutocomplete">
            <mat-option *ngIf="!dataService.lamdaFunctionName" class="missing-lambda-function-option">[you need to create stack to see the list of IAM instance profiles]</mat-option>
            <mat-option *ngFor="let ip of availableIamInstanceProfiles" [value]="ip.Arn">
              {{ ip.InstanceProfileName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


        <!--<mat-form-field>
          <input  name="ValidUntil"   matInput [matDatepicker]="picker" placeholder="Valid Until Date" [(ngModel)]="spotFleet.data.SpotFleetRequestConfig.ValidUntil" [readonly]="mode==='view'">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>-->


        <mat-form-field>
          <input  name="ValidUntil"  type="datetime-local" matInput placeholder="Valid Until Date" [ngModel]="spotFleet.data.SpotFleetRequestConfig.ValidUntil | date:'yyyy-MM-ddTHH:mm'" [readonly]="mode==='view'" (ngModelChange)="spotFleet.data.SpotFleetRequestConfig.ValidUntil = parseDate($event)">
        </mat-form-field>
        <!--<div class="valid-until-form-group">

          <mat-form-field>
            <input  name="ValidUntilTime"  type="time" matInput placeholder="Valid Until Time" [ngModel]="spotFleet.data.SpotFleetRequestConfig.ValidUntil | date:'HH:mm'" [readonly]="mode==='view'" (ngModelChange)="spotFleet.data.SpotFleetRequestConfig.ValidUntil = $event ">
          </mat-form-field>
        </div>-->


        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Advanced configuration
          </mat-expansion-panel-header>

          <div class="advanced-config">
            <mat-form-field>
              <textarea class="user-data" name="user_data" matInput placeholder="User data - it will be run during instance launch" matTextareaAutosize matAutosizeMinRows="2" [(ngModel)]="spotFleet.userData"
                        matAutosizeMaxRows="15" [readonly]="mode==='view'"></textarea>
            </mat-form-field>
          </div>

        </mat-expansion-panel>
        <br/>
        </div>
      </div>
    </div>




  </form>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()" tabindex="-1">Close</button>
  <button mat-button (click)="onSubmit()" tabindex="-1" color="primary" [disabled]="!spotFleetForm.form.valid || !spotFleetForm.form.dirty || mode === 'create' && !cluster" *ngIf="mode!=='view'">Submit</button>
  <button mat-button (click)="edit()" tabindex="-1" color="primary"  *ngIf="mode==='view' && spotFleet && spotFleet.data.SpotFleetRequestState !== 'cancelled'">Edit</button>
</div>
