form, .spot-fleet-config{
  display: flex;
  flex-direction: column;
}

.cluster-info{
  margin-bottom: 25px;
  font-weight: bold;
}

.advanced-users-info{
  margin-bottom: 20px;
}
.user-data{
  font-size: 11px;
}
