<h1 mat-dialog-title><span *ngIf="mode=='create'">New</span> Spot Fleet</h1>
<div mat-dialog-content>
  <div class="spinner-container">
    <mat-spinner *ngIf="workInProgress"></mat-spinner>
  </div>

  <form #spotFleetForm="ngForm" [hidden]="workInProgress">

    <div *ngIf="!cluster && mode!=='view'">
      <mat-form-field>
        <mat-select placeholder="Select cluster" [(ngModel)]="cluster" name="cluster" (selectionChange)="setCluster(cluster)">
          <mat-option *ngFor="let c of clusters" [value]="c">
            {{ c.clustername }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div *ngIf="cluster">

      <div class="cluster-info">
        Cluster: {{ cluster.clustername }}
      </div>

      <div *ngIf="spotFleet" class="spot-fleet-config">

        <div class="advanced-users-info">
          <a [href]="getSpotRequestConsoleUrl()" target="_blank">For advances users only - you can use AWS Spot Fleet GUI instead of KissCluster GUI</a>
        </div>
        <div class="read-only-info-panel">


          <div class="read-only-item">
            <div class="item-name">Spot Fleet Request Type</div>
            <div class="item-value">{{spotFleet.data.SpotFleetRequestConfig.Type}}</div>
          </div>
          <div class="read-only-item">
            <div class="item-name">Interruption behavior</div>
            <div class="item-value">Terminate</div>
          </div>
          <div class="read-only-item">
            <div class="item-name">Allocation strategy</div>
            <div class="item-value">Lowest price</div>
          </div>
          <div class="read-only-item">
            <div class="item-name">Maximum price</div>
            <div class="item-value">The on demand priced will be used</div>
          </div>


        </div>
        <!--<mat-form-field>
          <input name="IAM id" matInput placeholder="IAM id" [(ngModel)]="iamId" [readonly]="mode==='view'" required>
        </mat-form-field>-->

        <mat-form-field>
          <input name="TargetCapacity" matInput placeholder="Target Capacity (vCPUs)" [(ngModel)]="spotFleet.data.SpotFleetRequestConfig.TargetCapacity" [readonly]="mode==='view'" required>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Instance types" [(ngModel)]="instanceTypes" name="instance_types" multiple required [disabled]="mode==='view'">
            <mat-option *ngFor="let i of availableInstanceTypes" [value]="i">
              {{ i.InstanceType }} ({{i.WeightedCapacity ? i.WeightedCapacity : 1}} vCPU)
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br/>
        <!--<mat-form-field>
          <mat-select placeholder="AMI " [(ngModel)]="amiId" name="ami_ids" required [disabled]="mode==='view'">
            <mat-option *ngFor="let ami of availableAMIs" [value]="ami.ImageId">
              {{ ami.ImageId}}  ({{ ami.Description }})
            </mat-option>
          </mat-select>
        </mat-form-field>-->

        <mat-form-field>
          <input matInput placeholder="AMI" aria-label="AMI" [matAutocomplete]="autoAMI" [formControl]="amiCtrl" [(ngModel)]="amiId" name="ami_ids" required [readonly]="mode==='view'">
          <mat-autocomplete #autoAMI="matAutocomplete">
            <mat-option *ngFor="let ami of availableAMIs" [value]="ami.ImageId">
              {{ ami.ImageId}}  ({{ ami.Description }})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <br/>



        <br/>
        <mat-form-field>
          <mat-select placeholder="Security group" [(ngModel)]="securityGroup" name="security_group" required [disabled]="mode==='view'">
            <mat-option *ngFor="let s of availableSecurityGroups" [value]="s">
              {{ s.GroupName}}  ({{ s.Description }})
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Key pair name" [(ngModel)]="keyPairName" name="keyPairName" required [disabled]="mode==='view'">
            <mat-option *ngFor="let s of availableKeyPairs" [value]="s.KeyName">
              {{ s.KeyName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br/>

        <mat-form-field>
          <input required matInput placeholder="IAM instance profile arn" aria-label="IAM instance profile" [matAutocomplete]="autoIamProfile" [formControl]="iamProfileCtrl" [(ngModel)]="iamInstanceProfileArn" name="iamInstanceProfile"
                 [readonly]="mode==='view'" pattern="{{arnPattern}}">
          <mat-autocomplete #autoIamProfile="matAutocomplete">
            <mat-option *ngFor="let iam of availableIamInstanceProfiles" [value]="iam.Arn">
              {{ iam.InstanceProfileId}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Advanced configuration
          </mat-expansion-panel-header>

          <div class="advanced-config">
            <mat-form-field>
              <textarea class="user-data" name="user_data" matInput placeholder="User data - it will be run during instance launch" matTextareaAutosize matAutosizeMinRows="2" [(ngModel)]="spotFleet.userData"
                        matAutosizeMaxRows="15" [readonly]="mode==='view'"></textarea>
            </mat-form-field>
          </div>

        </mat-expansion-panel>
        <br/>
      </div>
    </div>




  </form>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()" tabindex="-1">Close</button>
  <button mat-button (click)="onSubmit()" tabindex="-1" color="primary" [disabled]="!spotFleetForm.form.valid" *ngIf="mode!=='view'">Submit</button>
</div>
