<h1 mat-dialog-title>Node {{ node.nodeid }}</h1>
<div mat-dialog-content>
  <div class="node-details-form">
    <mat-form-field>
      <input matInput placeholder="nodeid" [(ngModel)]="node.nodeid" [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="nodedate" [(ngModel)]="node.nodedate" [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="ami_id" [(ngModel)]="node.ami_id" [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="az" [(ngModel)]="node.az" [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="clusterdate" [(ngModel)]="node.clusterdate" [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="currentqueueid" [(ngModel)]="node.currentqueueid" [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="hostname" [(ngModel)]="node.hostname" [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="iam_profile" [(ngModel)]="node.iam_profile" [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="instance_id" [(ngModel)]="node.instance_id" [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="instance_type" [(ngModel)]="node.instance_type" [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="logfile" [(ngModel)]="node.logfile" [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="nproc" [(ngModel)]="node.nproc" [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="privateip" [(ngModel)]="node.privateip" [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="publicip" [(ngModel)]="node.publicip" [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="security_groups" [(ngModel)]="node.security_groups" [readonly]="mode==='view'">
    </mat-form-field>
  </div>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()" tabindex="-1">Close</button>
  <button mat-button (click)="close()" tabindex="-1" color="primary" *ngIf="mode!=='view'">Save</button>
</div>
