<div class="node-list">
  <mat-card>
    <mat-card-title>
      Nodes
      <!--<button mat-button color="primary" (click)="createNodeBtnClick();"><i class="material-icons">add</i> new node</button>-->
      <span class="advanced-users-info">
        <a [href]="getInstancesConsoleUrl()" target="_blank">Open in AWS Console</a>
      </span>
    </mat-card-title>
    <mat-card-subtitle>CPUs: {{cpus}}</mat-card-subtitle>
    <div class="spinner-container">
      <mat-spinner *ngIf="!loaded"></mat-spinner>
    </div>
    <div class="node-table-container mat-elevation-z8" [hidden]="!loaded">
      <mat-table #table [dataSource]="dataSource" matSort [hidden]="!dataSource.data || !dataSource.data.length">



        <ng-container matColumnDef="nodeid">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Node id</mat-header-cell>
          <mat-cell *matCellDef="let node">
            <a (click)="viewNode(node)" class="node-link"> {{ node.nodeid }}</a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ami_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> AMI id</mat-header-cell>
          <mat-cell *matCellDef="let node"> {{ node.ami_id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="currentqueueid">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Current queue id</mat-header-cell>
          <mat-cell *matCellDef="let node"> {{ node.currentqueueid }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="instance_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Instance type</mat-header-cell>
          <mat-cell *matCellDef="let node"> {{ node.instance_type }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="instance_state">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Instance state</mat-header-cell>
          <mat-cell *matCellDef="let node"> {{ node.$instance ? node.$instance.State.Name : '-' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nproc">
          <mat-header-cell *matHeaderCellDef mat-sort-header> CPU</mat-header-cell>
          <mat-cell *matCellDef="let node"> {{ node.nproc }}</mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator
                     [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 20]"
                     [hidden]="!dataSource.data || dataSource.data.length<=5">
      </mat-paginator>

      <div class="no-data-available-msg" *ngIf="!nodes || !nodes.length">
        There are no nodes defined.
      </div>
    </div>
  </mat-card>
</div>
