<div class="spot-fleet-list">
  <mat-card>
    <mat-card-title>
      Spot fleets
      <button mat-button color="primary" (click)="addBtnClick();"><i class="material-icons">add</i> new spot fleet</button>
      <button *ngIf="spotFleets" mat-button [disabled]="workInProgress>0" (click)="refresh()" class="refresh-list-button"><i class="fas fa-sync" [ngClass]="{'fa-spin': workInProgress>0}"></i></button>
    </mat-card-title>


    <div class="spinner-container">
      <mat-spinner *ngIf="!spotFleets"></mat-spinner>
    </div>

    <div class="cluster-table-container mat-elevation-z8" [hidden]="!spotFleets">
      <mat-table #table [dataSource]="dataSource" matSort [hidden]="!dataSource.data || !dataSource.data.length">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Id</mat-header-cell>
          <mat-cell *matCellDef="let spotFleet"> <a (click)="viewSpotFleet(spotFleet)" class="clickable">{{ spotFleet.data.SpotFleetRequestId }}</a></mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
          <mat-cell *matCellDef="let spotFleet"> {{ spotFleet.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef mat-sort-header> State</mat-header-cell>
          <mat-cell *matCellDef="let spotFleet"> {{ spotFleet.data.SpotFleetRequestState }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
          <mat-cell *matCellDef="let spotFleet"> {{ spotFleet.data.ActivityStatus }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="targetCapacityCPU">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Target capacity CPU</mat-header-cell>
          <mat-cell *matCellDef="let spotFleet"> {{ spotFleet.data.SpotFleetRequestConfig.TargetCapacity }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="currentCapacityCPU">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fulfilled Capacity</mat-header-cell>
          <mat-cell *matCellDef="let spotFleet"> {{ spotFleet.data.SpotFleetRequestConfig.FulfilledCapacity }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="instanceTypes">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Instance types</mat-header-cell>
          <mat-cell *matCellDef="let spotFleet"> {{ spotFleet.getInstanceTypes() }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cluster">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cluster</mat-header-cell>
          <mat-cell *matCellDef="let spotFleet">
            <a *ngFor="let item of spotFleet.getClusterName()"   routerLink="/cluster/{{item}}"> {{ spotFleet.getClusterName() }}</a></mat-cell>
        </ng-container>

        <ng-container matColumnDef="bidPerCPU">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Bid per CPU</mat-header-cell>
          <mat-cell *matCellDef="let spotFleet"> {{ spotFleet.bidPerCPU }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="amiId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> AMI-id</mat-header-cell>
          <mat-cell *matCellDef="let spotFleet"> {{ spotFleet.getAmiId() }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let spotFleet"><button mat-raised-button color="warn" (click)="terminateBtnClick(spotFleet);" *ngIf="spotFleet.data.SpotFleetRequestState==='active' || spotFleet.data.SpotFleetRequestState==='submitted'">Terminate</button></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 [ngClass]="row.state"></mat-row>
      </mat-table>

      <mat-paginator #paginator
                     [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 20]"
                     [hidden]="!dataSource.data || dataSource.data.length<=5">
      </mat-paginator>

      <div class="no-data-available-msg" *ngIf="!dataSource.data || !dataSource.data.length">
        There are no spot fleets defined.
      </div>
    </div>
  </mat-card>
</div>
