<h1 mat-dialog-title><span *ngIf="mode=='create'">New</span> Queue {{ queue.queue_name }}</h1>
<div mat-dialog-content>
  <div class="spinner-container">
    <mat-spinner *ngIf="!queue || workInProgress"></mat-spinner>
  </div>
  <form #queueForm="ngForm" [hidden]="workInProgress">
    <mat-form-field>
      <input name="queue_name" matInput placeholder="Name" [(ngModel)]="queue.queue_name" required
             [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input name="command" matInput placeholder="Job command" [(ngModel)]="queue.command" required
             [readonly]="mode==='view'">
    </mat-form-field>

    <mat-form-field>
      <input name="S3_bucket" matInput placeholder="S3 bucket" [(ngModel)]="queue.$S3_bucket" required
             [readonly]="mode==='view'">
      <span matPrefix>s3:// </span>
    </mat-form-field>


    <label class="queue-folder-label" matTooltip="The contents of the folder will be copied to each cluster node.">Folder that contains all files needed to execute the command*</label>
      <input  *ngIf="mode!=='view'"
        required
        #folderInput
        type="file"
        (change)="filesPicked(folderInput.files)"
        webkitDirectory
      >
    <br/>

    <mat-form-field>
      <input name="minjobid" matInput placeholder="minjobid" [(ngModel)]="queue.minjobid"
             [readonly]="mode==='view'">
    </mat-form-field>
    <mat-form-field>
      <input name="maxjobid" matInput placeholder="maxjobid" [(ngModel)]="queue.maxjobid"
             [readonly]="mode==='view'">
    </mat-form-field>
  </form>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()" tabindex="-1" i18n="@@global.button.close">Close</button>
  <button mat-button (click)="onSubmit()" tabindex="-1" color="primary" [disabled]="!queueForm.form.valid || !appFiles.length" *ngIf="mode!=='view'">Submit</button>
</div>
